body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 28px;
  float: left;
}

.App-header {
    background-color: #222;
    height: 35px;
    padding: 5px;
    color: white;
}

.App-header .userCountBadge {
  padding: 3px;
  float: left;
}

.menu-panel {
  float: right;
  margin-top: 3px;
}

.menu-panel a {
  color: white;
  margin-right: 15px;
  font-size: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #222;
  height: 28px;
  padding: 5px;
  color: white;
  width: 100%;
}

.footer .clock {
  float: left;
}

.center-panel {
  margin: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.custom-alert {
  position: absolute;
  right: 10px;
  top: 40px;
  z-index: 9;
}

.login {
  margin-top: 20px;
  max-width: 320px;
}

.login .card {
  background-color : transparent;
}

.login .card .card-title{
  margin-top: 10px;
}

.login .card .card-body {
  padding: 10px;
}

.login .card label {
 float: left;
}

.login .card button {
  margin-top: 20px;
  margin-right: 20px;
}

.signup {
  margin-top: 20px;
  max-width: 320px;
}

.signup .card .card-title{
  margin-top: 10px;
}

.signup .card button {
  margin-top: 20px;
  margin-right: 20px;
}

.signup .card label {  
  float: left;
}

.signup .card .form-check label {  
  clear: both;
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

